.gameBoard{
    -fx-background-image: url("Images/Boards/planciaportabiglie.png");
    -fx-background-size: 100% 100%;
}

.progress-indicator {
    -fx-progress-color: #203ca7;
}

.cardPane {
    -fx-background-color: #c19d1e;
    -fx-border-color: #6a4c35;
}

.gridPane {
    -fx-border-color: #ffffff;
}
.textField {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-size: 14;
}

.round {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-size: 14;
}

.round:hover{
    -fx-background-color: #c2bebe;
}
.round.clicked{
    -fx-background-color: #c2bebe;
}

.order{
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-size: 40;
}

.info{
    -fx-border-color: #000000;
    -fx-text-alignment: center;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: #000000;
    -fx-font-size: 14;
}
