.gameBoard{
    -fx-background-image: url("Images/Boards/planciaportabiglie.png");
    -fx-background-size: 100% 100%;
}

.progress-indicator {
    -fx-progress-color: #203ca7;
}

.cardPane {
    -fx-background-color: #c19d1e;
    -fx-border-color: #6a4c35;
}

.gridPane {
    -fx-border-color: #ffffff;
}
.orange {
    -fx-background-color: radial-gradient(center 50% -40%, radius 200%, #fffefe 45%, #edeff8 50%);
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 5 30 5 30;

}
